body {
    background-color: #F7F6BB;
}

header {
    background-color: #0d4b37;
    height: 135px;
}

html,
body {
    margin: 0;
    padding: 0;
}

#homeoptions {
    width: 550px;
    height: 90px;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #87A922;
    float: inline-start;
}

#loginsignupoption {
    width: 360px;
    height: 90px;
    border-radius: 50px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #87A922;
    float: inline-end;
}


 #homeoptions , #loginsignupoption{ 
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
a {
    color: #F7F6BB;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    flex-direction:column;
    font-weight: bold;
}

#tagline{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 80px;
    margin-left: 40px;
    background-color: #0d4b37;
    height: 600px;
    width: 600px;
    border-radius: 20% 91% 67% 49% / 13% 78% 38% 100% ;
}
#tagline > div{
    height:400px;
    width: 400px;
    border: 50px solid transparent;
    border-left-color: #87A922;
   
}


/* header > div{
background-color: #87A922;
} */